frontend/.dart_tool/
frontend/lib/.dart_tool/
frontend/build/
frontend/.idea/
frontend/venv/
frontend/.flutter-plugins-dependencies
frontend/lib/.flutter-plugins-dependencies
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/*.iml
frontend/*.iml
frontend/backend/**/__pycache__/
frontend/backend/**/*.pyc
frontend/ios/Flutter/ephemeral/
frontend/ios/Flutter/flutter_export_environment.sh
frontend/macos/Flutter/ephemeral/
frontend/**/GeneratedPluginRegistrant.*
**/.DS_Store
